# Dependências principais
pyspark==3.5.5
delta-spark==3.3.1
mlflow==2.22.0
prefect==3.4.1
streamlit==1.45.0
jupyter==1.1.1
jupyterhub==5.3.0

# Dependências para processamento de dados
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
pyarrow==19.0.1
boto3==1.38.13
fastparquet==2024.11.0

# Dependências para visualização
plotly==6.0.1
matplotlib==3.10.3
seaborn==0.13.2

# Dependências para Delta Lake
deltalake==0.25.5

# Dependências para análise de séries temporais
prophet==1.1.6
statsmodels==0.14.4

# Dependências para processamento de texto
nltk==3.9.1
spacy==3.8.5

# Dependências para API
fastapi==0.115.12
uvicorn==0.34.2
requests==2.32.3

# Dependências de teste
pytest==8.3.5
